@charset "UTF-8";
.hero {
  background: url("https://publishing.aip.org/sites/default/files/aippub/journal-highlights/images/JAP-Guise-ball%20grid%20array-BGA%20trap%20photo-resized.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1 {
    color: #000000;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }


    .footer {
      background-color: #000000;
      text-align: center;
      font-size: 1.2rem;
      padding: 4rem; }
      .footer p.slogan {
        color: #2C75FF;
        font-size: 1.8rem;
        margin: 0 0 1rem; }
        .footer p.copywrite {
          color: #0892D0;
          font-size: 0.875rem;
          margin: 0; }
          .footer .links a {
            list-style: none;
            font-weight: bold;
            color: #4b0082;
            padding: 3rem 0 2rem;
            margin: 0; }
            .footer .links a::after {
              content: "•";
              padding: 0 0.4rem 0 0.8rem; }
              .footer .links a:last-child::after {
                content: "";
                padding: 0 0.4rem 0 0.8rem; }
                
